<!DOCTYPE html>
<html>
<head>
</head>
<body>
	<main id = "sign-up-container">
		<img src="/img/seattle_preview.jpg" id="login-page-img">
		<iframe id="sign-up-video" width="560" height="315" src="https://www.youtube.com/embed/vS6gtrfWyN0?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
		<div class="sign-up-nav-wrapper">
			<a class="sign-up-authnav authnav-active" href="/">Sign Up</a>
			<a class="login-authnav" href="/auth/login">Login</a>
		</div>	
		<div class="sign-up-wrapper">
			<form method="POST" action="/auth/signup">
				<div class="sign-up-form form-group">
					<input type="text" name="username" placeholder="Username" class="form-control">
				</div>
				<div class="sign-up-form form-group">
					<input type="text" name="email" placeholder="Email" class="form-control">
				</div>
				<div class="sign-up-form form-group">
					<input type="text" name="phone" placeholder="Phone" class="form-control">
				</div>
				<div class="sign-up-form form-group">
					<input type="password" name="password" placeholder="Password" class="form-control">
				</div>
				<div class="sign-up-form form-group">
					<input type="password" name="passwordVerf" placeholder="Reenter Password" class="form-control">
				</div>
				<input type="submit" name="submit-btn" class="btn btn-success" id="auth-sign-up-btn">
				<p id="auth-has-act">Already have an account ?  <a href="/auth/login">Login</a></p>
			</form>
		</div>
	</main>
</body>
</html>