<!-- TODO : Style page -->
<div class="settings-items-wrappers" id="pass-settings-wrapper">
    <form id="pass-change-form">
        <div class="current-pass-wrapper">
            <label class="current-pass-label">Current Password : </label>
            <input type="password" name="current" class="form-control current-pass-input">
        </div>
        <div class="new-pass-wrapper">
            <label class="new-pass-label">New Password : </label>
            <input type="password" name="new" class="form-control new-pass-input">
        </div>
        <div class="confirm-pass-wrapper">
            <label class="confirm-pass-label">Confirm</label>
            <input type="password" name="confirm" class="form-control confirm-pass-input">
        </div>
        <input type="submit" value="Change Password" />
    </form>
</div>