<!DOCTYPE html>
<html>
<head>
	<title>Crypto App</title>
	<link rel="stylesheet" type="text/css" href="/css/footer.css">
</head>
	<div id="dash-greeting-wrapper">
		<h1 id="dash-hello-greeting">
			Hello, TaiHolderName
		</h1>
		<p id="dash-greeting">
			Here's an overview of your account :
		</p>
	</div>
	<div id="dash-worth-wrapper">
		<p>Current Worth : 
			<p style="color:green;">&nbsp; $383.29</p>
		</p>
	</div>
	<canvas id="dash-doughnut"></canvas>
	<script type="text/javascript" src="/js/data-charts.js"></script>
</body>
</html>