<body>
<nav id="settings-nav">
	<ul id="settings-nav-items">
		<li class="settings-nav-li selected-settings-nav" id="settings-profile-btn">Profile</li>
		<li class="settings-nav-li" id="settings-pass-btn">Password</li>
		<li class="settings-nav-li" id="settings-wallet-btn">Wallets</li>
		<li class="settings-nav-li" id="settings-notification-btn">Notifications</li>
		<li class="settings-nav-li" id="settings-advanced-btn">Advanced</li>
	</ul>
</nav>
<div class="settings-items-wrappers active-settings-item" id="profile-settings-wrapper">
</div>
<div class="settings-items-wrappers" id="add-wallet-wrapper">
		<label class="add-wallet-label">Add Wallet</label>
		<form class ="wallet-form-wrapper" method="POST" action="settings/wallet">
			<div class="wallet-form form-group">
				<input type="text" name="wallet" placeholder="Wallet Address" class="form-control wallet-input"  autocomplete="off">
			</div>
			<div class="dropdown-wrapper">
				<!--Dropdown primary-->
		        <div class="dropdown">

		            <!--Trigger-->
		            <button class="btn btn-primary dropdown-toggle" type="button" id ="wallet-dropdown-btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Wallet Type</button>
		            

		            <!--Menu-->
		            <div class="dropdown-menu dropdown-primary">
		                <a class="wallet-dropdown-item dropdown-item">Bitcoin</a>
		                <a class="wallet-dropdown-item dropdown-item">Ethereum</a>
		                <a class="wallet-dropdown-item dropdown-item">Token</a>
		            </div>
		        </div>
		        <!--/Dropdown primary-->
			</div>
			<input id="walletTypeInput" type="hidden" name="type" value="">
			<input type="submit" value="Add Wallet" id="wallet-submit" class="form-control btn btn-primary settings-submit">
		</form>
		<div id="displayed-wallets-wrapper">
			<% if(wallet.length > 0 ){%>
			<label class="user-wallets-label">Your Wallets</label>
			<ul class="list-group">
				<%wallet.forEach(function(item){%>
					<li class="list-group-item wallet-address-item">
						<a><%=item.address%></a>
						<a class ="btn btn-danger delete-link wallet-address-delete-btn">
							Delete
						</a>
					</li>
				<%});%>
				</ul>
			<%} %>
		</div>
</div>
<div class="settings-items-wrappers" id="notifications-settings-wrapper">
	<div id="add-notifications-wrapper">
		<div class="add-notifications-head">
			<h1>Verify Phone Number</h1>
		</div>
		<form class="send-code-form" method="POST" action="settings/sendcode">
			<div class="dropdown-wrapper">
				<!--Dropdown primary-->
		        <div class="dropdown" >

		            <!--Trigger-->
		            <button class="btn btn-primary dropdown-toggle" type="button" id="carrier-dropdown-btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Carrier Type</button>
		            <!--Menu-->
		            <div class="dropdown-menu dropdown-primary carrier-type-dropdown">
		            </div>
		        </div>
		        <!--/Dropdown primary-->
			</div>
			<input id="carrierTypeInput" type="hidden" name="carrier" value="">
			<input type="submit" value="Send Code" id="text-submit" class="form-control btn btn-primary settings-submit">
		</form>
		<form class="add-phone-form" method="POST" action="settings/verifycode">
			<div class="form-group" id="add-phone-input-wrapper">
				<input type="text" name="code" class="form-control" id="add-phone-input" minlength="5" maxlength="5">
			</div>
			<input type="submit" value="Verify" id="code-submit" class="form-control btn btn-primary settings-submit">
		</form>
	</div>
	<div id="update-notifications-wrapper">
		<h2>Your phone is verified display notification preferences here</h2>
	</div>
</div>
<!--Run at end-->
<script type="text/javascript">
	<%-delete user.password;%>
	var user = <%-JSON.stringify(user)%>

	if(user.phoneverified === "true"){
		document.getElementById("add-notifications-wrapper").style.display = "none";
		document.getElementById("update-notifications-wrapper").style.display = "block";
	}else{
		document.getElementById("add-notifications-wrapper").style.display="block";
	}
	$("#text-submit").click(function(e){
		e.preventDefault();
		this.parentElement.style.display = "none";
	});
	document.getElementById("code-submit").addEventListener("click",function(){
		this.preventDefault();
		this.parentElement.parentElement.style.display = "none";
	})
</script>
<script type="text/javascript" src="/js/settings.js"></script>
</body>