<div id="nonverified-notifications-wrapper">
		<div class="nonverified-notifications-head">
			<h1>Verify Phone Number</h1>
		</div>
		<form class="send-code-form" method="POST" action="settings/sendcode">
			<div class="dropdown-wrapper">
				<!--Dropdown primary-->
		        <div class="dropdown" >
		            <!--Trigger-->
		            <button class="btn btn-primary dropdown-toggle" type="button" id="carrier-dropdown-btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Carrier Type</button>
		            <!--Menu-->
		            <div class="dropdown-menu dropdown-primary carrier-type-dropdown">
		            </div>
		        </div>
		        <!--/Dropdown primary-->
			</div>
			<input id="carrierTypeInput" type="hidden" name="carrier" value="">
			<input type="submit" value="Send Code" id="text-submit" class="form-control btn btn-primary settings-submit">
		</form>
		<form class="add-phone-form" method="POST" action="settings/verifycode">
			<div class="form-group" id="add-phone-input-wrapper">
				<input type="text" name="code" class="form-control" id="add-phone-input" minlength="5" maxlength="5">
			</div>
			<input type="submit" value="Verify" id="code-submit" class="form-control btn btn-primary settings-submit">
		</form>
</div>