<!DOCTYPE html>
<html>
	<link rel="preload" href="/img/seattle_preview.jpg" as="image">
<head>
	<title>Crypto App</title>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/css/main.css">
	<link rel="stylesheet" type="text/css" href="/css/auth.css">
</head>
<body>
	<div style="position:absolute;top:0;width:100%;"><% include partials/alerts %></div>
	<%-body%>
	<script src="//code.jquery.com/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<div class="preload">
	   <img src="/img/seattle_preview.jpg" width="1" height="1" >
	</div>
</body>
</html>