<!DOCTYPE html>
<html>
	<link rel="preload" href="/img/seattle_preview.jpg" as="image">
<head>
	<title>Crypto App</title>
	  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	  <link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet">
	  <link rel="stylesheet" type="text/css" href="/css/main.css">
	  <link rel="stylesheet" type="text/css" href="/css/auth.css">
	  <link rel="stylesheet" type="text/css" href="/css/footer.css">
</head>
<body>
	<%-body%>
	<script src="//code.jquery.com/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <footer>
		<a class = "privacy-link" href="/privacy">Privacy</a>
	</footer>
	<div class="preload">
	   <img src="/img/seattle_preview.jpg" width="1" height="1" >
	</div>
</body>
</html>