/*profile layout stuff*/
#rendered-view{
    height: 100%;
}
/*nav stuff*/
nav{
   border-radius: 0!important;
   margin:0!important;
}
.navbar-ul{
   float:right;
}
ul{
    list-style-type: none;
}
li{
    display: inline-block;
    width: 6em;
    margin: 0 1em;
    text-align: center;
}
li.nav-item.dropdown.open .dropdown-item{
   width:100%;
   color:black!important;
   font-size: 1em;
}

#nav-tools-btn{
    width: 3em;
    height: 3em;
    margin-top: .4em;
    margin-left: 1em;
}
#nav-name{
    color: snow;
    font-size: 2.5em;
    position: absolute;
    user-select: none;
    display: inline-block;
    width: 86.5vw;
    text-align: center;
}
#nav-msg-btn{
    color: snow;
    position: relative;
    font-size: 2.7em;
    top: 0.25em;
    cursor: pointer;
    float: right;
    margin-right: 1.5em;
}
/*end nav stuff*/
/*end profileLayout*/

/*start profile dash*/
/*Greeting text*/
#dash-greeting-wrapper{
    font-family: 'Raleway', sans-serif;
    width: 100%;
    height: 14em;
    position: relative;
    left: 0;
    top: 0;
    text-align: center;
}
#dash-hello-greeting{
    font-weight: bolder;
    font-size: 3.5em;
}
#dash-greeting{
    font-size: 1.2em;
    margin: .5em;
}
/*data text*/
#dash-worth-wrapper{
    position: relative;
    top: 0em;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 2.5em;
    width: 100%;
}
#dash-worth-wrapper p{
    display: inline-block;
    font-weight: bold;
}
#user-worth{
    font-family: 'PT Sans', sans-serif;
}
/*data charts*/
#data-charts-wrapper{
   width: 100%;
   position: relative;
   height: 40vw;
   margin-bottom: 2em;
}
#dash-doughnut{
    width: 34vw!important;
    height: 33vw!important;
    position: absolute;
    margin-top: 5em;
    left: 4em;
}
#dash-line{
    position: absolute;
    right: 2.5vw;
    width: 50vw!important;
    height: 34vw!important;
    margin-top: 3em;
}
/*settings stuff*/
.settings-items-wrappers{
   display: none;
}
.active-settings-item{
   display: block !important; 
}
#settings-nav{
    height: 4em;
    background-color: #272727;
    text-align: center;
}
#settings-nav-items{
    margin:0;
    padding:0;
    height: 100%;
    text-align: center;
    position: relative;
}
.settings-nav-li{
    font-size: 1.5em;
    color: snow;
    cursor: pointer;
    margin: .5em 2em;
    width: unset!important;
}
.settings-nav-li:hover:not(.selected-settings-nav){
    color:grey;
}
.selected-settings-nav{
    border-bottom: 2px solid snow;
    padding-bottom: 3px;
    margin: 0em 1.5em;
}
#settings-profile-btn{}
#settings-pass-btn{}
#settings-wallet-btn{}
#settings-notification-btn{}
#settings-advanced-btn{}
.settings-items-wrappers{
    width:100%;
    height:100%;
    background-color:transparent;
    position:relative;
}
#profile-settings-wrapper{
    display: none;
}
/*wallet page stuff*/
#add-wallet-wrapper{
}
.add-wallet-label{
    font-size:4em;
    font-weight: inherit;
    width: 100%;
    text-align: center;
    font-weight: 200;
    margin-top: 1.5em;
}
.wallet-form-wrapper{
    width: 50vw;
    height: 13vw;
    position: relative;
    left: 25vw;
}
.wallet-input{
    color:grey;
    height:1em!important;
    font-size: 2em!important;
}
.settings-submit{
    font-size: 1.2em;
    font-weight: 400;
    height: 2em;
    width: 20vw;
    position: relative;
    float: right;
    display: inline-block;
    margin-top: 0.5em;
    background-color: #675e5e!important;
}
.dropdown-wrapper{
    position: relative;
    display: inline-block;
}
.dropdown-item{
    display: block;
    text-align: center;
    font-size: 1.2em;
    padding: 0.5em;
    font-weight: 300;
}
#wallet-dropdown-btn{
    width:13vw;
    font-size: 1.2em;
    background-color: #675e5e!important;
}
#selectedWalletDropdown:before{
    content: "✓ ";
}
.user-wallets-label{
    font-size:4em;
    font-weight: 200;
    width: 100%;
    text-align: center;
    margin-top: 1.5em;
}
#displayed-wallets-wrapper{
   text-align: center;
   width: 56vw;
   position: relative;
   left: 22vw;
}
.wallet-address-item{
   margin-top: 1.5em;
}
.wallet-address-delete-btn{
    margin-left: 16vw;
}
.list-group li{
   width: 96.5% !important;
}
/*end wallet page*/

/*notifications page*/
#notifications-settings-wrapper{}
#nonverified-notifications-wrapper{
   margin-top: 9em;
}
#verified-notifications-wrapper{
   display: none;
}
/*adding notification stuff*/

.nonverified-notifications-head{
   width:100%;
   text-align: center;
   margin-top: auto;
}
.nonverified-notifications-head h1{
   font-size: 5.5em;
   font-weight: 200;
}
.add-phone-form{
   width: 50vw;
   position: relative;
   left: 25vw;
   margin-top: 3em;
   display: none;
}
.send-code-form{
   width: 50vw;
   position: relative;
   left: 25vw;
   margin-top: 5em;
}
#add-phone-input{
   text-align: center;
   height: 100%;
   font-size: 6em;
   color:lightseagreen;
   font-weight: 200;
   margin-top: 1em;
}
.carrier-dropdown-item{
   display: inline-block;
   width: 13vw;
   font-size: 1em;
}
.carrier-type-dropdown{
   width: 53vw;
}
#carrier-dropdown-btn{
    width: 21vw;
    font-size: 2em;
    margin-top: 0.5em;
    background-color: #4B515D!important;
}
#text-submit{
   font-size: 2em;
   background-color: #3E4551!important;
}
/*end adding phone stuff*/

/*Saved notifications stuff*/
.saved-alerts-wrapper{
   text-align: center;
}
.saved-alerts-head{
   border-bottom: 1px solid grey;
   display: inline-block;
   width: 38vw;
   padding-bottom: 0.5em;
   font-size: 4em;
   margin-top: 1em;
   font-weight: 200;
}
.update-alert-link{}
.delete-alert-link{}
.saved-alerts-delete-btn{}
.saved-alerts-update-btn{}
#saved-alerts-addbtn{
    width: 16vw;
    font-size: 1.4em;
}
#saved-alerts-list-wrapper{
    width: 63vw;
    display: inline-block;
    margin-top: 1em;
}




/*end saved notifications stuff */

/*Create notification stuff*/
/*search alert stuff*/
.create-alert-wrapper{
    display:none;
    text-align: center;
}
.alert-type-searchbox{
    width: 40vw;
    display: inline-block;
    margin-top: 2em;
}
.create-alert-type-wrapper{
    display: block;
    position: relative;
    width: 100%;
    margin-bottom: .5em;
    text-align: center;
}
#alert-search-ul{}
#alert-type-search-results-wrapper{overflow: hidden;height: 15em;margin-top: 1em;position: absolute;width: 100%;}
.alert-search-item{width: 100%;margin-bottom: 1em;text-align: left;font-size: 1.5em;cursor: pointer;}
#alert-type-search{font-size: 2em;text-align: center;height: 2em;color: #127b6f;}
/*end search alert stuff*/
/*alert stats stuff*/
.alert-stats-wrapper{
    border-bottom: 1px solid #8080804a;
    padding-bottom: 3em;
    display: none;
}
/*end alert stats stuff*/
.alert-stat{
    display: inline-block;
    width: 40%;
    color: #0f7875;
}
#alert-invested-stat{
    margin-top: 1em;
    color: #30ad4d;
}
/*End create notification stuff*/
/*Start notification slider stuff*/
.alert-sliders-wrapper{margin-top: 6em;display: none;position: relative;}
#add-alert-btn{font-size: 1.5em;position: relative;right: 5em;bottom: 0;float: right;}
.alert-slider-wrapper{text-align: center;height: 5em;margin-bottom: 4em;}

.alert-slider-wrapper label{left: 3em;font-size: 2em;color: #127a6e;font-weight: 300;}
#alert-max-silder{}
#alert-min-silder{}
.alert-cost-label:before{
    content:"$";
}
.alert-cost-label{
    display: inline-block;
    width: 9em!important;
}
.alert-slider{
    width: 40vw !important;
    display: inline-block!important;
}
/*End notification slider stuff*/

/*end notifications page*/

/*Start password page*/
#pass-settings-wrapper{
    text-align: center;
}
#pass-change-form{
    width: 80%;
    display: inline-block;
}

/*End password page*/
/*Start profile page*/
.profile-update-wrapper{text-align: center;}
.update-info-wrapper{width: 80%;display: inline-block;margin: 1em;padding: 0;}
.update-info-item{position: relative;margin-bottom: 1em;}
.update-info-label{
    display: inline-block;
    position: relative;
    left: -27%;
    padding: 0;
    margin: .4em 0;
    font-weight: 200;
}
.update-info-input{
    width:35% !important;
    font-size: 20px !important;
    position: absolute;
    right: 4%;
    top: 33%;
    text-align: center;
}
/*End profile page*/