/*profile layout stuff*/
#rendered-view{
	height: 100%;
}
/*nav stuff*/
nav{
	width:100%;
	height: 4em;
	position: relative;
	background-color: #000000c4;
}
nav .hamburger-icon{
	 background-image: url('https://mdbootstrap.com/img/svg/hamburger2.svg?color=fff');
	 background-size: cover;
	 background-repeat: no-repeat;
	 width:100%;
	 height:100%;
	 cursor: pointer;
}
ul{
	list-style-type: none;
}
li{
	display: inline-block;
}
#nav-tools-btn{
	width: 3em;
	height: 3em;
	margin-top: .4em;
	margin-left: 1em;
}
#nav-name{
	color: snow;
	font-size: 2.5em;
	position: absolute;
	user-select: none;
	display: inline-block;
	width: 86.5vw;
	text-align: center;
}
#nav-msg-btn{
	color: snow;
	position: relative;
	font-size: 2.7em;
	top: 0.25em;
	cursor: pointer;
	float: right;
	margin-right: 1.5em;
}

/*end profileLayout*/

/*start profile dash*/

/*Greeting text*/
#dash-greeting-wrapper{
	font-family: 'Raleway', sans-serif;
	width: 100%;
	height: 16em;
	position: relative;
	left: 0;
	top: 3vw;
	text-align: center;
}
#dash-hello-greeting{
	font-weight: bolder;
	font-size: 3.5em;
}
#dash-greeting{
	font-size: 1.2em;
	margin: .5em;
}

/*data text*/
#dash-worth-wrapper{
	position: relative;
	top: 0em;
	text-align: center;
	font-family: 'Raleway', sans-serif;
	font-size: 2.5em;
	width: 100%;
}

#dash-worth-wrapper p{
	display: inline-block;
	font-weight: bold;
}

/*data charts*/
#data-charts-wrapper{width: 100%;position: relative;height: 40vw;}
#dash-doughnut{
	width:28vw!important;
	height:28vw!important;
	position: absolute;
	margin-top: 6em;
	left: 7em;
}
#dash-line{
	position: absolute;
	right: 2.5vw;
	width: 50vw!important;
	height: 34vw!important;
	margin-top: 3em;
}

/*settings stuff*/
#settings-nav{
	height: 5em;
	background-color: #3b3b3b;
	border-top: 1px solid #4a4747;
}
#settings-nav-items{
	margin:0;
	padding:0;
	height: 100%;
	text-align: center;
	position: relative;
}
.settings-nav-li{
	font-size: 2em;
	color: snow;
	cursor: pointer;
	margin: .5em 2em;
}
.settings-nav-li:hover:not(.selected-settings-nav){
	color:grey;
}
.selected-settings-nav{
    border-bottom: 2px solid snow;
    padding-bottom: 3px;
    font-size: 2.5em;
    margin: 0em 1.5em;
}
#settings-profile-btn{
}
#settings-pass-btn{

}
#settings-wallet-btn{

}
#settings-notification-btn{

}
#settings-advanced-btn{
	
}
.settings-items-wrappers{
	width:100%;
	height:100%;
	background-color:transparent;
	position:relative;
}
#profile-settings-wrapper{
	display: none;
}

#add-wallet-wrapper{

}
.add-wallet-label{
	font-size:4em;
	font-weight: inherit;
	width: 100%;
	text-align: center;
	margin-top: 1.5em;
}
.wallet-form-wrapper{
    width: 50vw;
    height: 13vw;
    position: relative;
    left: 25vw;
}
.wallet-input{
	color:grey;
	height:1em!important;
	font-size: 2em!important;
}
.wallet-submit{
	font-size: 1.5em;
	font-weight: 300;
	height: 2em;
	width: 20vw;
	position: absolute;
	right: 0;
}









