<div class="create-alert-wrapper">
    <!-- Searchbox start -->
    <div class="create-alert-type-wrapper">
        <div class="alert-type-searchbox">
            <input id="alert-type-search" type="text" onclick="restSearch(this)" placeholder="Enter wallet or currency" onkeyup="searchChanged(this.value)">
            <div id="alert-type-search-results-wrapper">
                <ul id="alert-search-ul">
                </ul>
            </div>
        </div>
    </div>
    <!--Searchbox end-->
    <!--Search result data start -->
        <!-- Stats -->
    <div class="alert-stats-wrapper">
        <h1 class="alert-stat" id="alert-value-stat"></h1>
        <h1 class="alert-stat" id="alert-owned-stat"></h1>
        <h1 id="alert-invested-stat"></h1>
    </div>
        <!--Sliders-->
    <div class="alert-sliders-wrapper">
        <form class="range-field">
            <div class="alert-slider-wrapper">
                <label> Cost Above : </label>
                <label class="alert-cost-label" id="alert-cost-max">1320.03</label>
                <input oninput="modifyMaxSlider(this)" class="alert-slider" id="alert-max-silder" type="range" min="0" max="100" />
            </div>
            <div class="alert-slider-wrapper">
                <label> Cost Below : </label>
                <label class="alert-cost-label" id="alert-cost-min">892.32</label>
                <input oninput="modifyMinSlider(this)" class="alert-slider" id="alert-min-silder" type="range" min="0" max="100" />
            </div>
            <input type="submit" id="add-alert-btn" value="Add Alert" class="btn btn-success">
        </form>   
    </div>

    <!--Search result data end-->
</div>
<script type="text/javascript">
    let walletObj = <%- JSON.stringify(wallet) %>

    let walletData ={
        walletNames:[],
        walletValues:[]
    }
    let coinData = {
        coinNames:[],
        coinValues:[],
        coinOwned:[]
    }
    walletObj.forEach((item) => {
        walletData.walletNames.push(item.address.toUpperCase());
        walletData.walletValues.push("NOT SUPPORTED YET!"); //item.value
        item.coins.forEach((coins) => {
            coinData.coinNames.push(coins.name)
            coinData.coinValues.push(coins.value);
            coinData.coinOwned.push(coins.owned);
        });
    });
    function addSearchItems(e){
        if(document.getElementById("last-clicked-result")){
            document.getElementById("last-clicked-result").removeAttribute("id");
        }
        document.getElementById("alert-type-search-results-wrapper").style.display = "block";
        let liEl = [];
        e.forEach((item)=>{
            let li = document.createElement("li");
            li.setAttribute("class","alert-search-item");
            li.setAttribute("itemType",item.type);
            li.setAttribute("itemVal",item.val);
            li.innerText= item.name;
            //search item click stuff
            li.addEventListener("click",function(){
                if(document.getElementById("last-clicked-result")){
                    document.getElementById("last-clicked-result").removeAttribute("id");
                }
                this.setAttribute("id","last-clicked-result");
                document.getElementById("alert-type-search").value = this.innerHTML;
                document.getElementsByClassName("alert-type-searchbox")[0].style.width="100%";
                document.getElementById("alert-type-search-results-wrapper").style.display = "none";
                if(item.type==="currency"){
                    document.getElementById("alert-owned-stat").style.display = "inline-block";
                    document.getElementById("alert-invested-stat").style.display = "block";
                    document.getElementById("alert-invested-stat").innerText = "Total Invested : $"+(parseFloat(item.val)*parseFloat(item.owned));
                    document.getElementById("alert-type-search").setAttribute("style","border-bottom:none !important;font-size:4em");
                    document.getElementById("alert-value-stat").innerText = "Cost : $" + item.val;
                    document.getElementById("alert-owned-stat").innerText = "Owned : " + item.owned;
                }else{
                    document.getElementById("alert-owned-stat").style.display = "none";
                    document.getElementById("alert-invested-stat").style.display = "none";
                    document.getElementById("alert-value-stat").innerText = "Value :  " + item.val;
                    document.getElementById("alert-type-search").setAttribute("style","border-bottom:none !important;font-size:2em");
                }
                document.getElementsByClassName("alert-stats-wrapper")[0].style.display="block";
                setSliderVals(item.val);
            });
            //end search item click stuff
            document.getElementById("alert-search-ul").appendChild(li);
        });
    }
    function searchChanged(query){
        document.getElementById("alert-search-ul").innerHTML = "";
        if(query.length>0){
            query=query.toUpperCase();
            const searchResults = [];
            coinData.coinNames.some(item =>{
                if(item.indexOf(query)!==-1){
                    searchResults.push({name:item,val:coinData.coinValues[coinData.coinNames.indexOf(item)],type:"currency",owned:coinData.coinOwned[coinData.coinNames.indexOf(item)]});
                }
            });
            walletData.walletNames.some(item =>{
                if(item.indexOf(query)!==-1){
                    searchResults.push({name:item,val:walletData.walletValues[walletData.walletNames.indexOf(item)],type:"wallet"});
                }
            });
            addSearchItems(searchResults);
        }else{
            document.getElementById("alert-type-search-results-wrapper").style.display = "none";
        }
    }
    function restSearch(e){
        e.removeAttribute("style");
        document.getElementsByClassName("alert-stats-wrapper")[0].style.display="none";
        document.getElementsByClassName("alert-type-searchbox")[0].removeAttribute("style");
        searchChanged(e.value);
    }
    function modifyMaxSlider(e){
        document.getElementById("alert-cost-max").innerText = e.value;
    }
    function modifyMinSlider(e){
        document.getElementById("alert-cost-min").innerText = e.value;
    }
    function setSliderVals(cost){
        //min slider
        document.getElementById("alert-min-silder").setAttribute("min",cost/5);
        document.getElementById("alert-min-silder").setAttribute("max",cost);
        document.getElementById("alert-min-silder").setAttribute("step",cost/100);
        //max slider
        document.getElementById("alert-max-silder").setAttribute("min",cost);
        document.getElementById("alert-max-silder").setAttribute("max",cost*5);
        document.getElementById("alert-max-silder").setAttribute("step",cost/100);

        document.getElementById("alert-max-silder").setAttribute("value",cost);
        document.getElementById("alert-min-silder").setAttribute("value",cost);
        document.getElementById("alert-cost-max").innerText = cost;
        document.getElementById("alert-cost-min").innerText = cost;
    }
</script>