<!-- TODO : Style page -->
<div class="settings-items-wrappers active-settings-item" id="profile-settings-wrapper">
    <div class="profile-update-wrapper">
        <ul class="list-group update-info-wrapper">
            <li class="list-group-item update-info-item">
                <h2 class="update-info-label">Name</h2>
                <input class="update-info-input" name="name" type="text" placeholder="Bob Ross" />
            </li>
            <li class="list-group-item update-info-item">
                <h2 class="update-info-label">Username</h2>
                <input class="update-info-input" name="username" type="text" placeholder="bobiscool" />
            </li>
            <li class="list-group-item update-info-item">
                <h2 class="update-info-label">Email</h2>
                <input class="update-info-input" name="email" type="text" placeholder="bobiscool@hotmail.com" />
            </li>
            <li class="list-group-item update-info-item">
                <h2 class="update-info-label">Phone</h2>
                <input class="update-info-input" name="phone" type="text" placeholder="555-555-5555" />
            </li>
        </ul>
    </div>
</div>